body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #2e2929;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

input[type=number] {
    padding: 10px;
    font-size: 18px;
    width: 100px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(233, 227, 227);
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: 1px solid red;
    margin: 5px;
}

.hidden {
    display: none;
}

#waarschuwing {
    text-align: center;
    margin-top: 10px;
    color: red;
}

#alternatieven {
    text-align: center; /* gecentreerd */
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

#alternatieven li {
    margin-bottom: 5px;
}

#totaalDagen {
    text-align: center;
    margin-top: 10px;
    color: red;
}

#downloadBtn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color:#2e2929;
    color:white;
    border: 1px solid #2e2929;
}

#titel {
    color: red;
}

#watdoen {
    text-align: center; 
}

#levensbalkContainer {
    margin: 20px 0;
}

#levensbalk {
    width: 100%;
    height: 30px;
    background-color: #4CAF50; /* groen */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#schermtijdBalk {
    height: 100%;
    background-color: red; /* rood */
    width: 0%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 2.5s ease-in-out;
}

#balkTekst {
    display: none;
}

#levensbalkTekst {
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}

/* Responsiveness */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    input[type=number] {
        width: 80px;
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 8px 15px;
    }
}
